@media (max-width:767px){

    /* html{
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;
    } */

    #sketch-container {
        top: 80vw;
    }

    .p5Canvas{
        width:70vw !important;
    }


    /*--------------------*/
    /*-----ACCUEIL---------*/
    /*--------------------*/

    .infos{
        top:150vw;
        font-size:2vw;
        letter-spacing: 0px;
        transform: rotate(0);
        left: 0vw;
        transform:translateX(20%);
    }
    .nom{
        font-size:10vw;
        left:8vw;
        top:40vh;
    }

    .statut{
        font-size: 6vw;
        top:40vw;
        right:5vw;
    }

    /*--------------------*/
    /*-----TRANSITION---------*/
    /*--------------------*/

    /* .transition {
        top:20%;
        left:0;
    }

    
    .chevron {
        width: 4vw;
        height: 0.6vw;

    } */
    /*--------------------*/
    /*-----PROJETS---------*/
    /*--------------------*/

    .container{
        height: 50vw;
        width: 150% !important;
        left: 20% !important;
        top:20% !important;
    }

    .presentation .titre{
        opacity: 0;
    }

    .description .titre{
        text-align: center;
        font-family: "Montserrat";
    }

    .presentation .telephone{
        opacity: 1;
        top:100% !important;
        left:-2% !important;
        font-size: 12vw;
    }

    .petite{
        opacity: 0 !important;
    }

    .description_courte{
        font-size: 4vw;
        top:140% !important;
        left:-2% !important;
        text-align: center !important;
    }


    .description{
        flex-direction: column;
        top: 5%;
    }

    
    .retour{
        width:50px;
        height:15px;
    }

    .swiper{
        width: 50%;
        height: 35%;
    }

    .swiper-slide{
        background: none;
    }

    .swiper-pagination-bullets{
        right: 78vw !important;
        top: 45% !important;
        left:0%;
    }

    .swiper-pagination-bullet {
        width: 8px !important;
        height: 8px !important;
      }


    .text{
        width: 80%;
        margin: 3%;
        margin-top: 0%;
    }

    .description .titre{
        font-size: 6vw;
        position: relative;
        margin-bottom: 2%;
    }

    .description_longue{
        font-size: 3vw;
    }

    .cliquez{
        top: -10vh;
        left: -25vw;
    }

    .legende{
        font-size: 2vw !important;
    }


/*------SHADERLAB---------*/
/*PRESENTATION*/

.shaderlab .presentation .container{
    width: 160% !important;
    left:28% !important;
    top:15%;
}

.shaderlab .presentation .titre{
    top:10%;
    left:-1% !important;
}

.shaderlab .presentation .description_courte{
    left:-15% !important;
    padding: 0%!important;
}

/*------AMAYA---------*/
/*PRESENTATION*/

.amaya .presentation .container{
    width: 160% !important;
    left:35% !important;
    top:15%;
}

.amaya .presentation .titre{
    top:10%;
    left:-6% !important;
}

.amaya .presentation .description_courte{
    left:-16% !important;
    padding: 0%!important;
}


/*------PORTFOLIO---------*/

.portfolio .presentation .container{
    left:25% !important;
}

.portfolio .presentation .titre{
    top:-40%;
    left:-8% !important;
}

.portfolio .presentation .description_courte{
    left:-5% !important;
}

/*------BLENDER---------*/

.blender .presentation .container{
    left:20% !important;
}

.blender .presentation .titre{
    left:-0.5% !important;
}

.blender .presentation .description_courte{
    left:-5% !important;
}

/*------COQUELICOT---------*/

.coquelicot .presentation .container{
    left:28% !important;
}

.coquelicot .presentation .titre{
    top:-40%;
    left:-2% !important;
}

.coquelicot .presentation .description_courte{
    left:-5% !important;
}


    /*--------------------*/
    /*-----A PROPOS---------*/
    /*--------------------*/

    #a_propos .titre{
        font-size: 15vw;
        top:-30px
    }

    #a_propos .petit_texte{
        font-size: 4vw;
    }

}