@media (max-width:767px){

    /* html{
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;
    } */

    #sketch-container {
        top: 80vw;
    }

    .p5Canvas{
        width:70vw !important;
    }


    /*--------------------*/
    /*-----ACCUEIL---------*/
    /*--------------------*/

    .infos{
        top:150vw;
        font-size:2vw;
        letter-spacing: 0px;
        transform: rotate(0);
        left: 0vw;
        transform:translateX(20%);
    }
    .nom{
        font-size:10vw;
        left:8vw;
        top:40vh;
    }

    .statut{
        font-size: 6vw;
        top:40vw;
        right:5vw;
    }

    /*--------------------*/
    /*-----TRANSITION---------*/
    /*--------------------*/

    /* .transition {
        top:20%;
        left:0;
    }

    
    .chevron {
        width: 4vw;
        height: 0.6vw;

    } */
    /*--------------------*/
    /*-----PROJETS---------*/
    /*--------------------*/

    .container{
        height: 50vw;
        width: 150% !important;
        left: 20% !important;
        top:20% !important;
    }

    .titre{
        opacity: 0;
    }

    .telephone{
        opacity: 1;
        top:100% !important;
        left:-6% !important;
        font-size: 15vw;
    }

    .petite{
        opacity: 0 !important;
    }

    .description_courte{
        font-size: 4vw;
        top:140% !important;
        left:-2% !important;
        text-align: center !important;
    }

    .presentation .image{
        border-radius: 20px;
        width: 100%;
        height: auto;
        transition-duration: 0.5s;
    }

    .description{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .description .image .swiper-wrapper .swiper-slide{
        height:auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor:grab;
    }

    .description .legende{
        font-family: "Letter Gothic Std";
        margin:3vw;
        margin-top: 3%;
        margin-bottom: 0%;
        text-align: center;
        font-size: 1vw;
    }
    
    .retour{
        width:50px;
        height:15px;
    }


    .text{
        width: 90%;
        margin: 1% !important;
    }

    .description .titre{
        font-size: 6vw;
        position: relative;
        margin-bottom: 2%;
    }

    .description_longue{
        font-size: 3vw;
    }

    .cliquez{
        top: -10vh;
        left: -25vw;
    }


    /*--------------------*/
    /*-----A PROPOS---------*/
    /*--------------------*/

    #a_propos .titre{
        font-size: 15vw;
        top:-30px
    }

    #a_propos .petit_texte{
        font-size: 4vw;
    }

}