@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-VariableFont_wght.ttf")
  }

  @font-face {
    font-family: "Letter Gothic Std";
    src: url("./fonts/LetterGothicStd.otf")
  }

  @font-face {
    font-family: "Magilio";
    src: url("./fonts/magilio-font/MagilioRegular-8Mxvg.otf")
  }

  @font-face {
    font-family: "Dream Orphans";
    src: url("./fonts/dream_orphans/dream\ orphans.otf")
  }

  @font-face {
    font-family: "Chloe";
    src: url("./fonts/Chloe-Regular.otf")
  }
/*letter gothic std
magilio
dream orphans
euclid square

FOND : #FFDCDB
TEXTE VIOLET : #110527*/


body{
    background-color:#FFDCDB;
    color:#110527;
    margin: 0;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    font-family: "Chloe";
    font-size: 1.25em;
}

html{
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

* {
    box-sizing: border-box;
    }


a{color: #110527;
    text-decoration: none;}
a:hover {color: white;}

h3{
    margin:0;
    padding: 0;
}

p{
    font-family: "Montserrat";
    font-weight: lighter;
}

#sketch-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 30vw;
    left: 50%;
    margin-right: -50%; */
    /* transform: translate(-50%, -50%) */
}

.p5Canvas{
    border-radius: 100%;
    animation: appearBull 1.5s ease-in-out;
    width: 600px !important;
    height: 600px !important;
    position:relative;
    z-index: -1;
}

.swiper {
    /* width: 100vw ;
    height: 35vh; */
    width: 100%;
    height: 100%;
    margin-left: 2% !important;
    margin-right: 0% !important;
  }

  .swiper-slide {
    text-align: center;
    border-radius: 1%;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 90%;
    height: auto;
    object-fit: cover;
    max-height: 80%;
  }

  .swiper-pagination{
    left:0px;
  }

  .swiper-pagination-bullets
  {
    left:0px !important;
  }

  .swiper-pagination-bullet{
      opacity: 0.3 !important;
      width: 12px !important;
      height: 12px !important;
  }

  .swiper-pagination-bullet-active{
    background:  #6235C6 !important;
    opacity: 1 !important;

}

.arrow-container{
    position: absolute;
    width: 2vw;
    height: 2vw;
    right: 3vw;
    margin-top:1vh;
    z-index: 2;
}

.arrow-round {
    position: absolute;
    width: 100%;
    height: 100%;
  
    border: 0.2vw solid #110527;
    border-radius: 50%;
    border-right-color: transparent;
  }
  
  .arrow-round::after {
    content: "";
    position: absolute;
  
    border: 0.6vw solid #ffffff;
    top: -0.1vw; 
    right: -0.05vw;
  
    border-bottom-color: #110527;
    border-top-width: 0;
    border-right-width: 0;
    border-left-color: transparent;
  }

  .arrow-container:hover .arrow-round{
    cursor: pointer;
    border-color:white;
    border-right-color: transparent;
  }
  .arrow-container:hover .arrow-round::after{
    cursor: pointer;
    border-bottom-color:white;
  }
  

/*--------------------*/
/*-----ACCUEIL---------*/
/*--------------------*/

#accueil{
    height: auto;
    scroll-snap-align: start;
}

.infos{
    transform: rotate(-90deg);
    right: 48vw;
    position: relative;
    top:150px;
    font-family: "Letter Gothic Std";
    font-size:1vw;
    letter-spacing: 8px;
    animation: appear 2s ease-in-out;
}

.linkedin{
    font-family: "Montserrat";
    font-size: 25px;
    margin: 0;
    padding: 0;
    animation: appear 3s ease-in-out;
}

.mail{
    position: relative;
    font-size: 25px;
    top:-30%;
    font-family: "Montserrat";
    margin:0;
    font-weight: normal;
    animation: appear 3s ease-in-out;
}

.contacts{
    text-align: end;
    margin-right: 2vw;
    height: fit-content;
    width:fit-content;
    position: absolute;
    transform: translate(20%, -60%);
    animation: appearFromRight 2s ease-in-out;
}


.bulle_homepage{
    height: 100vh;
    width: 100vw;
}

.bulle{
    position: absolute;
    border-radius: 100%;
    height: 50vw;
    width: 50vw;
    left: 50vw;
    transform: translateX(-50%)
}

.nom{
    position: absolute;
    text-align: start;
    font-family: "Dream orphans";
    font-size:110px;
    transform: translate(-20%, 50%);
    animation: appearFromLeft 1s ease-in-out;
}

.statut{
    text-align: end;
    font-family: "Chloe";
    color:white;
    font-size: 60px;
    letter-spacing: 5px;
    margin:0px;
}

/*--------------------*/
/*-----PROJETS---------*/
/*--------------------*/

#projets{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200vw;
}

.projet{
    position: relative;
    height: 100vh;
    width: 200vw;
    display: flex;
    /* transition: all 1s ease-in-out;  */
    margin-bottom: 5%;
    scroll-snap-align: start;
    align-items:center;
}

.projet .presentation{
    cursor: pointer;
    position: relative;
    width: fit-content;
    margin: auto;
}

.projet>div{
    flex-shrink: 0;
    width: 100vw;
}

  
.seeDescription .presentation{
    /* transition: filter 0.1s; */
    filter:blur(10px);
}

.seeDescription .description{
    /* transition: transform 0.5s; */
    transform: translate(-100vw);
}

.petite{
    position: absolute;
    height: 300px;
    width: auto;
    opacity: 0.4;
    animation: moveUpDown 2s ease-in-out infinite alternate;
}

.titre{
    position: absolute;
    font-family: "Dream Orphans";
    font-size: 110px;
    color: white;
}

.presentation .titre{
    transform: translate(-20%, -155%);
}

.shaderlab .presentation .titre{
    transform: translate(-20%, -305%);
}

.amaya .presentation .titre{
    transform: translate(-20%, -135%);
}

.portfolio .presentation .titre{
    transform: translate(-20%, -265%);
}

.coquelicot .presentation .titre{
    transform: translate(-20%, -355%);
}

.telephone{
    opacity: 0;
}

.description_courte{
    position: absolute;
    font-family: "Montserrat";
    font-weight: lighter;
    font-size: 20px;
    color:#110527;
}

.presentation .description_courte
{
    text-align: start;
    transform:translate(0%, 20%);
}

/* .container{
    position: relative;
    width: fit-content;
    margin: auto;
    top:31%;
} */

.presentation .petite{
    z-index:-2;
    bottom: 35%;
    left: 38%;
}


.presentation .twitch{
    position: relative;
    display:flex;
    height: 100%;
    width:400px;
    max-width: 80vw;
}

.presentation .twitch::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color:#6235C6;
    z-index:-1;
}

.presentation .image{
    border-radius: 20px;
    width: 100%;
    height: auto;
    transition-duration: 0.5s;
}

.presentation .image:hover{
    transform: translateX(10px) translateY(-10px);
    transition-duration: 0.5s;
}

.description{
    position: relative;
    background-color:white;
    transition: transform 0.5s, filter 0.5s;
    /* transition: all 1s ease-in-out; */
}

.descriptionContent {
    transition: transform 0s,filter 0s;
}

.descriptionContent
{
    display: flex;
    align-items: center;
    height:60vh;
}

.descriptionContent .image .swiper-wrapper .swiper-slide{
    height:auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor:grab;
}

.descriptionContent .legende{
    font-family: "Letter Gothic Std";
    margin:3vw;
    margin-top: 3%;
    margin-bottom: 0%;
    text-align: center;
    font-size: 0.8em;
}


  .retour {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index:100;
  }
  .retour:hover {
    opacity: 1;
    cursor: pointer; 
  }
  .retour:before, .retour:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #110527;
  }
  .retour:before {
    transform: rotate(45deg);
  }
  .retour:after {
    transform: rotate(-45deg);
  }


.text{
    height:auto;
    position: relative;
    margin: 3%;
}


.descriptionContent .titre{
    font-size: 6vw;
    position: relative;
    margin-bottom: 2%;
    color: #110527;
}

.description_longue{
    position: relative;
    font-family: "Montserrat";
    font-weight: lighter;
    font-size: 15px;
    color:#110527;
    text-align: justify;
}

.cliquez{
    position: absolute;
    top: -20vh;
    left: -15vw;
    width: 45%;
  }


path {
    fill: transparent;
  }
  
@keyframes moveUpDown {
    0% { transform: translateY(0); } /* Start from current position */
    50% { transform: translateY(-30px); } /* Bounce up */
    100% { transform: translateY(0); } /* Return to current position */
}
@keyframes appear {
from {
    opacity:0;
}
to {
    opacity: 1; 
}
}

@keyframes appearBull {
0% {
    opacity:0;
}
50% {
    opacity:0;
}
100% {
    opacity: 1; 
}
}


@keyframes appearFromLeft {
from {
    opacity:0;
    transform: translate(-10%, 50%);
}
to {
    opacity: 1; 
    transform: translate(-20%, 50%);
}
}

@keyframes appearFromRight {
from {
    opacity:0;
    transform: translate(20%, -60%);
}
to {
    opacity: 1; 
    transform: translate(20%, -60%);
}
}

@media (max-width:900px){

    .descriptionContent{
        flex-direction: column;
    }

    .retour:before, .retour:after {
    height: 20px;
    }

    .descriptionContent
    {
        flex-direction: column;
        height: 80vh;
    }

    .text{
        margin:20px;
    }
    
    .description
    {
        overflow: hidden;
    }

    .description_longue
    {
        font-size: 14px;
        /* height:35vh; */
        height: 25vh;
        overflow: auto;
    }

    .description_courte
    {
        font-size: 15px;
    }

    .presentation .titre
    {
        top : -80px;
    }

    .titre
    {
        transform: translate(0) !important;
        font-size: 60px;
    }

    .p5Canvas
    {
        width: 500px;
        height: 500px;
    }

    .contacts{
        transform: translate(5%, -80%);
    }

    .statut
    {
        font-size: 40px;
    }

    .mail{
        font-size: 15px;
    }

    .linkedin{
        font-size: 15px;
    }

    .nom{
        font-size: 80px;
        transform: translate(-5%, 50%);
    }

    .twitch{
        /* width: 350px !important; */
        margin: auto;
    }

    .swiper {
        width: 50%;
    }

    }

@media (max-width:400px){
    .description_courte
    {
        transform: translate(20%, 20%);
    }

    .contacts{
        transform: translate(-5%, -80%);
    }

    .nom{
        font-size: 60px;
        transform: translate(-5%, 50%);
    }

    .description{
        height:80vh;
    }

    .descriptionContent{
        height: 80vh;
    }

    .swiper {
        width: 100%;
        min-width: 80vw;
    }

    .retour:before, .retour:after {
        background-color: #ffffff;
        }
}