@import url('http://fonts.cdnfonts.com/css/letter-gothic-std-2');
@import url('http://fonts.cdnfonts.com/css/magilio');
@import url('http://fonts.cdnfonts.com/css/dream-orphans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/*letter gothic std
magilio
dream orphans
euclid square

FOND : #FFDCDB
TEXTE VIOLET : #110527*/


body{
    background-color:#FFDCDB;
    color:#110527;
    margin: 0;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

html{
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

* {
    box-sizing: border-box;
    }


a{color: #110527;
    text-decoration: none;}
a:hover {color: white;}

h3{
    margin:0;
    padding: 0;
}

p{
    font-family: "Montserrat";
    font-size: 10%;
    width: 80%;
    text-align: justify;
}

#sketch-container {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.p5Canvas{
    border-radius: 100%;
    animation: appearBull 2s ease-in-out;
}

.swiper {
    width: 40% ;
    height: 35vw;
    margin-left: 2% !important;
    margin-right: 0% !important;
  }

  .swiper-slide {
    text-align: center;
    border-radius: 1%;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 90%;
    height: auto;
    object-fit: cover;
    max-height: 80%;
  }

  .swiper-pagination-bullet{
      opacity: 0.08 !important;
      width: 12px !important;
      height: 12px !important;
  }

  .swiper-pagination-bullet-active{
    background:  #FFDCDB !important;
    opacity: 1 !important;

}

.arrow-round {
    position: absolute;
    width: 2vw;
    height: 2vw;
    right: 4vw;
    /* margin: 100px auto; */
  
    border: 0.2vw solid #110527;
    border-radius: 50%;
    border-right-color: transparent;
  }
  
  .arrow-round::after {
    content: "";
    position: absolute;
  
    border: 0.6vw solid #ffffff;
    top: -0.1vw; 
    right: -0.05vw;
  
    border-bottom-color: #110527;
    border-top-width: 0;
    border-right-width: 0;
    border-left-color: transparent;
  }

  .arrow-round:hover{
    cursor: pointer;
  }
  

/*--------------------*/
/*-----ACCUEIL---------*/
/*--------------------*/

#accueil{
    height: auto;
    margin-bottom: 30vh;
    scroll-snap-align: start;
}

.infos{
    transform: rotate(-90deg);
    right: 48vw;
    position: relative;
    top:150px;
    font-family: "Letter Gothic Std";
    font-size:1vw;
    letter-spacing: 8px;
    animation: appear 2s ease-in-out;

}

.linkedin{
    font-family: "Dream Orphans";
    font-size: 2vw;
    margin:0 auto;
    margin: 0;
    padding: 0;
}

.mail{
    position: relative;
    font-size: 1vw;
    top:-30%;
    font-family: "Montserrat";
}

.contacts{
    text-align: end;
    margin-right: 2vw;
    height: fit-content;
    animation: appear 2s ease-in-out;
}

.bulle_homepage{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 100vh;
    width: 100vw;
}

.bulle{
    position: absolute;
    border-radius: 100%;
    height: 50vw;
    width: 50vw;
    left: 50vw;
    transform: translateX(-50%)
}

.nom{
    position: absolute;
    text-align: start;
    font-family: "Dream orphans";
    font-size:7vw;
    left:15vw;
    top:30vh;
    animation: appearFromLeft 1s ease-in-out;
}

.statut{
    position: absolute;
    text-align: end;
    font-family: "Magilio";
    color:white;
    font-size: 4vw;
    letter-spacing: 5px;
    right:15vw;
    animation: appearFromRight 1s ease-in-out;
}

/*--------------------*/
/*-----TRANSITION---------*/
/*--------------------*/

.transition {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    left:40%;
    top:65%;
    position: absolute;
    opacity:0;
    z-index: -1;
    animation: appearBull 5s ease-in-out;
   }

   .appear{
    opacity:1;
   }
   
   .chevron {
     position: absolute;
     width: 2.625vw;
     height: 0.6vw;
     opacity: 0;
     transform: scale(0.3);
     animation: move-chevron 3s ease-out infinite;
   }
   
   .chevron:first-child {
     animation: move-chevron 3s ease-out 1s infinite;
   }
   
   .chevron:nth-child(2) {
     animation: move-chevron 3s ease-out 2s infinite;
   }
   
   .chevron:before,
   .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background:  #110527;
   }
   
   .chevron:before {
    left: 0;
    transform: skewY(30deg);
   }
   
   .chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
   }
   
   @keyframes move-chevron {
    25% {
     opacity: 1;
       }
    33.3% {
     opacity: 1;
     transform: translateY(3.8vw);
    }
    66.6% {
     opacity: 1;
     transform: translateY(5.2vw);
    }
    100% {
     opacity: 0;
     transform: translateY(8vw) scale(0.5);
    }
   }
}

/*--------------------*/
/*-----PROJETS---------*/
/*--------------------*/

.projets{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200vw;
}

.projet{
    position: relative;
    height: 100vh;
    width: 200vw;
    display: flex;
    transition: all 1s ease-in-out; 
    margin-bottom: 5%;
    scroll-snap-align: start;
}

.projet .presentation{
    cursor: pointer;
}


.projet>div{
    flex-shrink: 0;
    width: 100vw;
}

  
.projet.focus{
    transform: translateX(-100vw);
}



.projet.projectTranslate2{
    animation: projectToMiniature 0.5s forwards ;
}

.petite{
    position: absolute;
    height: 90%;
    width: auto;
    opacity: 0.4;
    animation: moveUpDown 2s ease-in-out infinite alternate;
}

.titre{
    position: absolute;
    font-family: "Dream Orphans";
    font-size: 8vw;
    color: white;
}

.description_courte{
    position: absolute;
    font-family: "Montserrat";
    font-size: 1.5vw;
    color:#110527;
}

.container{
    position: relative;
}

.presentation .petite{
    z-index:-2;
}


.presentation .twitch{
    position: relative;
    display:flex;
    width: 40%;
    height: 100%;
}

.presentation .twitch::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color:#6235C6;
    z-index:-1;
}

.presentation .image{
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.presentation:hover .image{
    transform: translateX(10px) translateY(-10px);
}

.description{
    display: flex;
    position: relative;
    align-items: center;
}

.description .image .swiper-wrapper .swiper-slide{
    height:auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description .legende{
    font-family: "Letter Gothic Std";
    margin:3vw;
    margin-top: 3%;
    margin-bottom: 0%;
    text-align: center;
    font-size: 0.8em;
}

/* .retour{
    font-family: "Dream Orphans";
    font-size: 1em;
    color:#110527;
    text-align: end;
} */

/* .retour {
    width:100px;
    height:30px;
    display: flex;
  } */
  
  .retour{
    content: "";
    margin: 0 5px;
    background: currentColor;
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
    animation: a3 .5s infinite alternate;
    width:100px;
    height:30px;
    --s:-1;
    margin-top: 3%;
    position: absolute;
    right:2vw;
    cursor: pointer;

  }

  @keyframes a3 {
    0%  {transform: scaleX(var(--s,1)) translate(-4px)}
    100%{transform: scaleX(var(--s,1)) translate( 4px)}
  }


.text{
    width: 50%;
    height:auto;
    position: relative;
    margin: 3%;
}


.description .titre{
    font-size: 6vw;
    position: relative;
    margin-bottom: 2%;
}

.description_longue{
    position: relative;
    font-family: "Montserrat";
    font-size: 1vw;
    color:#110527;
    text-align: justify;
}



/*----BABYRUN---------*/
/*PRESENTATION*/

.babyrun .presentation .twitch{
    width: 40%;;
}

.babyrun .presentation .container{
    left:25%;
    top:25%;
    width: 80%;
}

.babyrun .presentation .titre{
    bottom: 12%;
    left:28%;
}

.babyrun .presentation .petite{
    bottom:5%;
    left:38%;
    width: 30%;
    height: auto;
}

.babyrun .presentation .description_courte{
    text-align: start;
    left:42%;
    bottom:-2%;
}

/*------SHADERLAB---------*/
/*PRESENTATION*/

.shaderlab .presentation .twitch{
    width: 30%;;
}

.shaderlab .presentation .container{
    left:40%;
    top:15%;
}

.shaderlab .presentation .titre{
    top:10%;
    left:-18%;
}

.shaderlab .presentation .petite{
    left:-2%;
    top:10%;
}

.shaderlab .presentation .description_courte{
    text-align: start;

}



/*------PORTFOLIO---------*/

.portfolio .presentation .twitch{
    width: 35%;;
}

.portfolio .presentation .container{
    left:20%;
    top:40%;
}

.portfolio .presentation .titre{
    top:-40%;
    left:30%;
}

.portfolio .presentation .petite{
    top:-40%;
    left:42%;
}

.portfolio .presentation .description_courte{
    text-align: start;
    top:-35%;
    left:2%;
}

/*------BLENDER---------*/

.blender .presentation .twitch{
    width: 40%;;
}

.blender .presentation .container{
    left:45%;
    top:30%;
}

.blender .presentation .titre{
    left:-20%;
    top:-40%;
}

.blender .presentation .petite{
    left:1%;
    top:-30%;
}

.blender .presentation .description_courte{
    text-align: end;
    left:-30%;
    bottom:20%;
}

/*------COQUELICOT---------*/

.coquelicot .presentation .twitch{
    width: 30%;;
}

.coquelicot .presentation .container{
    left:30%;
    top:30%;
}

.coquelicot .presentation .titre{
    top:-35%;
    left:10%;
}

.coquelicot .presentation .petite{
    left:40%;
    top:-30%;
}

.coquelicot .presentation .description_courte{
    text-align: start;
    left:32%;
    top:0%;
}


/*--------------------*/
/*-----A PROPOS---------*/
/*--------------------*/

#a_propos{
    border-top-left-radius: 50vw;
    border-top-right-radius: 50vw;
    background-color: white;
    font-size: 20vw;;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    scroll-snap-align: start;

}

#a_propos .titre{
    color: #110527;
    font-family: "Magilio";
    font-size: 80px;
    text-align: center;
    position: relative;
    top:50px
}
/* 
#a_propos .petit_texte{

} */

@keyframes moveUpDown {
	from {
      transform: translateY(0px) translateX(-50%);
	}
    to {
      transform: translateY(-30px) translateX(-50%);
    }
}

@keyframes miniatureToProject {
from {
    transform: translateX(0px);
}
to {
    transform: translateX(-100px);
}
}

@keyframes projectToMiniature {
from {
    transform: translateX(0px);
}
to {
    transform: translateX(100px);
}
}

@keyframes appear {
from {
    opacity:0;
}
to {
    opacity: 1; 
}
}

@keyframes appearSlowly {
    0% {
        opacity:0;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity: 1; 
    }
    }

@keyframes appearBull {
0% {
    opacity:0;
}
50% {
    opacity:0;
}
100% {
    opacity: 1; 
}
}


@keyframes appearFromLeft {
from {
    opacity:0;
    transform: translateX(-100px);
}
to {
    opacity: 1; 
    transform: translateX(0px);
}
}

@keyframes appearFromRight {
from {
    opacity:0;
    transform: translateX(100px);
}
to {
    opacity: 1; 
    transform: translateX(0px);
}
}